@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
  body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
  
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  border-radius: 8px;
}
.wrapper{
    width: 100vw;
    height: 100vw;
    background-color: #191c32;
    color: #ffff;
}
.contacto{
  width: 100vw;
  height: 50vw;
  background-color: #191c32;
  color: #ffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand span{
    color: aqua;
}
.menu li{
    list-style: none;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.menu a:hover{
    background-color: aqua;
    color: #191c32 ;
}
.menu a{
    color: #ffff;
    text-decoration: none;
    padding: 10px 20px;
    transition: ease-in .3s;
}
.main{
    margin-top: 55%;
    width: 80vw;
    margin-left: 5vw;
    height: 80vh;
    display: grid;
    grid-template-columns:repeat(2.1fr);
    
}
span{
    color: aqua;
}
.info{
    margin-left: 50vw;
}

.facha{
    margin-left: -50vw;
    margin-top: -15vw;
    width: 35vw;
    border: 7px solid aqua;
}


.slider{
    justify-content: center; 
    width: 50vw;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    margin-top: 5vw;
    overflow: hidden;
    margin-left: 22%;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 50vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 50vw;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  .about{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
    align-items: center;
}
  .about img{
    width: 100%;
    
    grid-column: 1/5;
    
  }
  .sobre-info{
    grid-column: 5/10;
    padding: 3em;
  }

  .sobre-info h2{
    font-size: 2em;
    color: #191c32;
    }

  .divider{
    height: 4px;
    width: 20vw;
    background-color:aqua ;
    margin-top: 5px;
    margin-bottom: 2.5em;
  }
  .about p{
    margin-bottom: 2em;
  }
  .contactos h2{
    font-size: 3em;
  }
  .contacto{
    padding: 3em;
    margin: 0 auto;
  }
  .control{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
  }
  .control input{
    padding: 10px 20px;
    margin-bottom: 1.5em;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
  }
  .control textarea{
    height: 30vh;
    background: none;
    color: white;
    padding: 1.5em;
    border: 1px solid white;
  }
  .btn-enviar{
    padding: 1vw 10vw;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
  }

  .btn-enviar:hover{
    background-color: white;
    transition: ease-in .3s;
  }
  .contact{
    margin-left: 30vw;
    
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: aqua;
  }
 .footer-content h2{
    font-size: 3em;
    justify-content: center;
    margin-left: 3vw;
 }
 .footer-content h5{
   font-size: 1em;
 }
 .social-network{
   display: flex;
   justify-content: space-evenly;
   width: 40vw;
   margin-top: 1em;
 }
 .social-network i{
   font-size: 2em;
 }
 html{
   scroll-behavior: smooth;
 }
  
 
  

  
 
        
